<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adwaitvyas.kalarav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".KalaravMainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kalarav" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TwitterFeedActivity"
            android:label="@string/title_activity_twitter_feed"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".TwitterFeedService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ComposeTweetActivity"
            android:parentActivityName=".TwitterFeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TwitterFeedActivity" />
        </activity>
        <activity android:name=".ViewTweetActivity"></activity>
    </application>

</manifest>